@charset "UTF-8";

html {
    height: 1055px;
}

.center-block {
    height: 645px;
    width: 1055px;
    background-image: linear-gradient(0deg, #FEE32D 27%, #3796ED 70%);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
}
