@charset "utf-8";

/* header */
header {
    background: #0067C6;
    width: 100%;
    height: 120px;
    padding: 10px;
}

#head {
    width: 100%;
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.post-wrapper {
    position: relative;
    margin-top: 100px;
    width: auto;
    height: 0 auto;
}

.post-contents {
    position: relative;
}



.logo-size {
    width: 100px;
    height: 50px;
    margin: 20px;
}



/* main content */
#row {
    display: flex;
    flex-flow: row wrap;

}

#container {
    flex: 0 0 80%;
}

#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #727272;
    margin: 0 0 0 auto;
}

/* main content */
/* ログインページ */
.atlas {
    width: 70%;
    height: 80%;
    margin: 0 auto;
}

/* トップヘッダー */
.atlas_logo img {
    width: 20%;
    height: auto;
    display: block;
    margin: 150px auto 0px;
}

.atlas-text {
    width: 80%;
    height: auto;
    display: block;
    margin: 0 auto 30px;
    font-size: 35px;
    color: #fff;
    text-align: center;
}

.main-wrapper {
    width: 50%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
}

.login-container,
.register-container {
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
}

.welcome,
.register,
.clear {
    width: 100%;
    text-align: center;
    font-size: 25px;
}

.login-form,
.register-form {
    width: 100%;
    text-align: left;
    font-size: 15px;
}

.login-form input,
.register-form input {
    width: 100%;
    height: 40px;
    margin-top: 10px;
    border-radius: 5px;
}

.register-btn a {
    color: #fff;
    text-decoration: none;
}

.login-btn {
    text-align: right;
    width: 100%;
}

.welcome-text {
    font-size: 25px;
    font-weight: bold;
}


/* アコーディオンメニュー  */

.side_user {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: auto;
    align-items: right;
}

.accordion-contents {
    padding: 10px;
    padding: 10px;
}


/* 矢印下向き・メニュー閉じる */
.accordion-title {
    position: relative;
    display: flex;
    font-size: 1.25rem;
    font-weight: normal;
    color: #fff;
    width: auto;
    height: 17px;
    padding-left: 50px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
}

/* メニュー開く */
.accordion-title::after {
    border-right: solid 2px #fff;
    border-top: solid 2px #fff;
    content: "";
    display: block;
    height: 8px;
    position: absolute;
    right: 25px;
    top: 38%;
    transform: rotate(135deg);
    transition: transform .3s ease-in-out, top .3s ease-in-out;
    width: 8px;
}

/* 矢印上向き */
.accordion-title.open::after {
    top: 45%;
    transform: rotate(-45deg);
}

/*矢印ここまで*/



/* バリデーションエラー */
.post_error {
    color: red;
}

/* 投稿フォーム */
.post-form {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.post-form .icon {
    position: absolute;
    top: 70px;
    left: 10px;
}

.post-form input {

    position: absolute;
    top: 70px;
    left: 90px;
    width: 400px;
    height: 100px;
    border: none;
    vertical-align: top;
}

.submit_btn img {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 150px;
    left: 490px;
    z-index: 1;
}


/* モーダル機能 */

.js-modal {
    display: none;
}

.content {
    margin: 0 auto;
    padding: 40px;
}

.modal {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}

.modal__bg {
    background: rgba(0, 0, 0, 0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}

.modal__content {
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
}



/* 画像のスタイル */
.btn-danger img {
    height: auto;
    left: 0;
    position: absolute;
    width: 5%;
}

*/

/* 2枚目の画像は最初透明 */
.btn-danger img:last-of-type {
    opacity: 0;
    transition: opacity .7s;
}

/* hoverすると2枚目の画像が透明じゃなくなる */
.btn-danger:hover img :last-of-type {
    opacity: 1;
}

.btn-danger:hover img:first-of-type {
    opacity: 0;
    transition: opacity .7s;
}
